<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>simple-calc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>496DA4E51DBE761A004F84F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>496DA4F91DBE761A004F84F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>496DA5041DBE761B004F84F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
